/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.app__navbar-Container {
  display: grid;
  grid-template-columns: 1.5rem 2fr 4fr 2fr 1.5rem;
  align-items: center;
  padding: 1rem 0;
}

.app__navbar-logo {
  display: grid;
  grid-column: 2/3;
  align-items: center;
}
.app__navbar-logo img {
  width: 200px;
  height: 52px;
}

.app__navbar-links {
  display: flex;
  justify-content: space-around;
}

.app__navbar_social-links {
  display: flex;
  justify-content: center;
}

.app__navbar_social-links p {
  margin-right: 10px;
}

.hamburger-menu-display {
  display: none;
}
.mobile__links-menu {
  display: none;
}

.mobile__nav-links {
  /* background: #a2a2eb;
  position: absolute;
  top: 69px;
  right: 0;
  width: 99%;
  height: 262px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  transition: 0.5s ease;

  flex-direction: column;
  z-index: 5;
}

.mobile__nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile__nav-links p {
  font-size: 50px;
  font-family: "Merriweather", serif;
  margin-top: 1rem;
}

@media screen and (max-width: 975px) {
  .app__navbar-Container {
    display: grid;
    grid-template-columns: 5px 1fr 1fr 5px;
    margin: 0 0.5rem;
  }

  .hamburger-menu-display {
    display: grid;
    cursor: pointer;
    grid-column: 5/6;
  }

  .app__navbar-links {
    display: none;
  }
  .app__navbar_social-links {
    display: none;
  }
}
