/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.app__navbar-Container {
  display: grid;
  grid-template-columns: 1.5rem 2fr 4fr 2fr 1.5rem;
  align-items: center;
  padding: 1rem 0;
}

.app__navbar-logo {
  display: grid;
  grid-column: 2/3;
  align-items: center;
}
.app__navbar-logo img {
  width: 200px;
  height: 52px;
}

.app__navbar-links {
  display: flex;
  justify-content: space-around;
}

.app__navbar_social-links {
  display: flex;
  justify-content: center;
}

.app__navbar_social-links p {
  margin-right: 10px;
}

.hamburger-menu-display {
  display: none;
}
.mobile__links-menu {
  display: none;
}

@media screen and (max-width: 975px) {
  .app__navbar-Container {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
  }

  .app__navbar-links {
    display: none;
  }
  .app__navbar_social-links {
    display: none;
  }
  .hamburger-menu-display {
    display: flex;
    cursor: pointer;
  }
  .mobile__nav-links {
    background: #a2a2eb;
    position: absolute;
    top: 69px;
    right: 0;
    width: 99%;
    height: 262px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .Close__Hamburger-icon {
    /* position: absolute; */
  }
}
